<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pynarae_tracking>
            <general>
                <enabled>1</enabled>
                <debug>0</debug>
                <show_external_query_link>1</show_external_query_link>
                <use_live_refresh_on_lookup>1</use_live_refresh_on_lookup>
                <cache_ttl_minutes>60</cache_ttl_minutes>
                <query_stale_after_minutes>30</query_stale_after_minutes>
                <max_events_display>8</max_events_display>
                <default_provider>track123</default_provider>
            </general>
            <providers_track123>
                <enabled>1</enabled>
                <base_url>https://api.track123.com/gateway/open-api/tk/v2.1</base_url>
                <request_timeout>15</request_timeout>
                <connect_timeout>5</connect_timeout>
                <auto_detect_carrier>1</auto_detect_carrier>
                <carrier_mapping><![CDATA[]]></carrier_mapping>
            </providers_track123>
            <providers_ship24>
                <enabled>0</enabled>
                <base_url>https://api.ship24.com</base_url>
                <request_timeout>15</request_timeout>
                <connect_timeout>5</connect_timeout>
                <use_create_and_track_endpoint>0</use_create_and_track_endpoint>
                <restrict_tracking_to_courier_code>0</restrict_tracking_to_courier_code>
            </providers_ship24>
            <providers_kd100>
                <enabled>0</enabled>
                <base_url>https://www.kd100.com</base_url>
                <request_timeout>15</request_timeout>
                <connect_timeout>5</connect_timeout>
                <auto_detect_carrier>1</auto_detect_carrier>
                <carrier_mapping><![CDATA[]]></carrier_mapping>
                <default_ship_from><![CDATA[]]></default_ship_from>
                <webhook_url><![CDATA[]]></webhook_url>
            </providers_kd100>
            <sync>
                <auto_register_on_track_save>1</auto_register_on_track_save>
                <process_queue_batch_size>25</process_queue_batch_size>
                <retry_max_attempts>5</retry_max_attempts>
                <retry_backoff_minutes>10</retry_backoff_minutes>
            </sync>
            <webhook>
                <enabled>1</enabled>
                <strict_signature_validation>1</strict_signature_validation>
                <signature_mode>auto</signature_mode>
                <signature_tolerance_seconds>300</signature_tolerance_seconds>
                <log_payloads>1</log_payloads>
                <cleanup_days>14</cleanup_days>
            </webhook>
        </pynarae_tracking>
        <carriers>
            <track123_custom>
                <active>1</active>
                <model>Pynarae\Tracking\Model\Carrier\Track123</model>
                <title>Track123</title>
                <name>Track123</name>
            </track123_custom>
        </carriers>
    </default>
</config>
