<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_track_save_after">
        <observer name="pynarae_tracking_enqueue_track_register"
                  instance="Pynarae\Tracking\Observer\ShipmentTrackSaveAfter"/>
    </event>
    <event name="sales_order_shipment_save_after">
        <observer name="pynarae_tracking_enqueue_shipment_tracks_register"
                  instance="Pynarae\Tracking\Observer\ShipmentSaveAfter"/>
    </event>
</config>
